h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    padding: 24px;
    color: white;
}

.options:hover {
    background-color: gray;
    color: black;
}

.answer {
    background-color: gray;
    color: white;
}

 body { 
    background: url("../images/wes-hicks-418451-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }